
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    background-color: #3C8DAD;
    padding: 8px 32px;
}

header h1 {
    color: #fff;
    font-family: 'Nunito', sans-serif;
  }

.time {
  /* position: relative; */
  /* width: 480px; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}